<div class="post col-md-8 col-md-offset-2">
  <h2> <%= link_to post.title, post_path(post) %> </h2>
  <p> <%= post.body %></p>
  <p>
    <%= link_to "Edit", edit_post_path(post) %>
    <%= link_to "Delete", post_path(post),
                             :data => {:confirm => "You sure?",
                                       :method => "delete"} %>
  </p>

</div>
