<h2> <%= link_to post.title, post_path(post) %> </h2>
<p> <%= post.body %></p>
<p>Comment(<%= post.comments.count %>)</p>
<ul>
  <% post.tags.each do |tag| %>
    <li><%= tag.name %></li>
  <% end %>
</ul>
